// Font Sizes
$fs-normal: 16px;
$fs-small: 14px;
$fs-big: 28px;
$fs-huge: 46px;

// Colors
$yellow: #ffe600;
$black: #333333;
$dark-gray: #666666;
$gray: #999999;
$light-gray: #eeeeee;
$blue: #3483fa;

// Paddings
$p-small: 8px;
$p-normal: 16px;
$p-big: 32px;

// Border radius

$br-small: 4px;
